<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.atlassian.teammyrec.writersbloc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OnboardTutorial"
            android:label="@string/app_intro" />

        <activity android:name=".LoginActivity"
            android:theme="@style/AppThemeLogin"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProjectActivity"
            android:label="@string/title_activity_project"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="bscm7UQaxrFSTZnTN29Vwf3zEyL22XmkneD1mRWp" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="rGlmX7aI0F9li5wA9fPJc6tmgkFFlJwIN07zDIlF" />
        <activity
            android:name=".GraphActivity"
            android:label="@string/title_activity_graph"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".PageListActivity"
            android:label="@string/title_activity_page_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:noHistory="true"
            android:name=".PageActivity"
            android:label="@string/title_activity_page_list"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="GridActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
